
/*------------------------------------*\
    #DIVINE NUMBERS
\*------------------------------------*/

$phi: 1.6180339887498948482;

/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

$breakpoint-1: 320px;// ~ iPhone 5
$breakpoint-2: 414px;// ~ iPhone 7 +
$breakpoint-3: 768px;// ~ iPad
$breakpoint-4: 1024px;// ~ Desktop small
$breakpoint-5: 1600px;// ~ Desktop large

$maximum-page-width: $breakpoint-4;

/*------------------------------------*\
    #SPACING
\*------------------------------------*/

$spacing-full: 30px;
$spacing-half: 15px;
$spacing-quarter: 7px;
$spacing-eighth: 4px;
$spacing-sixteenth: 2px;
$spacing-double: 60px;
$spacing-triple: 90px;
$spacing-quadruple: 120px;

/*------------------------------------*\
    #DIMENSION
\*------------------------------------*/

$dimension-full: 40px;
$dimension-half: 20px;
$dimension-quarter: 10px;
$dimension-eighth: 5px;
$dimension-sixteenth: 3px;
$dimension-double: 80px;
$dimension-triple: 120px;
$dimension-quadruple: 180px;
