
/*------------------------------------*\
    #DIVINE NUMBERS
\*------------------------------------*/

$phi: 1.6180339887498948482;

/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

$breakpoint-1: 320px;// ~ x-small
$breakpoint-2: 414px;// ~ small
$breakpoint-3: 768px;// ~ medium
$breakpoint-4: 1024px;// ~ large
$breakpoint-5: 1200px;// ~ x-large

$maximum-page-width: $breakpoint-5;

/*------------------------------------*\
    #SPACING
\*------------------------------------*/

$spacing-full: 30px;
$spacing-half: 15px;
$spacing-quarter: 7px;
$spacing-eighth: 4px;
$spacing-sixteenth: 2px;
$spacing-double: 60px;
$spacing-triple: 90px;
$spacing-quadruple: 120px;

/*------------------------------------*\
    #DIMENSION
\*------------------------------------*/

$dimension-full: 40px;
$dimension-half: 20px;
$dimension-quarter: 10px;
$dimension-eighth: 5px;
$dimension-sixteenth: 3px;
$dimension-double: 80px;
$dimension-triple: 120px;
$dimension-quadruple: 180px;


/*------------------------------------*\
    #GENERAL
\*------------------------------------*/

html, body {
	background: $brand-4;
	height: 100%;
}

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

.layout {
	overflow: hidden;

	//50 centred --

	&.layout_50-centred {

		.column {
			margin-bottom: $spacing-full;
		}
	}

	//50 50 --

	&.layout_50-50 {
		overflow: visible;
		
		.column {
			margin-bottom: $spacing-full;
		}
	}

	//60 40 --

	&.layout_60-40 {
		overflow: visible;
		
		.column {
			margin-bottom: $spacing-full;
		}
	}

	//33 33 33 --

	&.layout_33-33-33 {
		overflow: visible;
		
		.column {
			margin-bottom: $spacing-full;
		}
	}
}

@media only screen and (min-width : $breakpoint-2){

}

@media only screen and (min-width : $breakpoint-3){

}

@media only screen and (min-width : $breakpoint-3){

	.layout {
		overflow: hidden;

		//50 centred --

		&.layout_medium-centred {

			.column {
				max-width: $breakpoint-3;
				margin: 0 auto $spacing-full auto;
			}
		}

		//50 50 --

		&.layout_50-50 {
			margin: 0 -#{$spacing-half};
			overflow: hidden;

			.column {
				width: calc(50% - #{$spacing-full});
				float: left;
				margin: 0 $spacing-half $spacing-full $spacing-half;
			}
		}

		//60 40 --

		&.layout_60-40 {
			margin: 0 -#{$spacing-half};
			overflow: hidden;

			.column {
				width: calc(40% - #{$spacing-full});
				float: left;
				margin: 0 $spacing-half $spacing-full $spacing-half;

				&:first-child {
					width: calc(60% - #{$spacing-full});
				}
			}
		}

		//33 33 33 --

		&.layout_33-33-33 {
			margin: 0 -#{$spacing-half};
			overflow: hidden;

			.column {
				width: calc(33.3% - #{$spacing-full});
				float: left;
				margin: 0 $spacing-half $spacing-full $spacing-half;
			}
		}
	}
}

@media only screen and (min-width : $breakpoint-5){

}




