.text_input {
	width: 100%;
	padding: $spacing-quarter;
	border: 1px solid $line-colour-1;
	line-height: $dimension-full;
	font-family: $font-family-regular;
	height: $dimension-full;
	-webkit-appearance: none;
	background: $background-colour-1;
	transition: border-color .3s ease-in-out;

	&:hover {
		border-color: $action-colour;
	}

	&:focus, &:active {
		border-color: $active-colour;
	}
}

