
/*------------------------------------*\
    #COLOURS
\*------------------------------------*/

//Raw palette --

$pattern-black: #000000;
$brand-1: $pattern-black;

$pattern-offblack: #4a4040;
$brand-2: $pattern-offblack;

$pattern-white: #ffffff;
$brand-3: $pattern-white;

$pattern-offwhite: #F0EDE9;
$brand-4: $pattern-offwhite;

$pattern-grey-1: #8B999F;
$brand-5: $pattern-grey-1;

$pattern-grey-2: #e1e1e1;
$brand-6: $pattern-grey-2;

$pattern-green-1: #99ec6a;
$brand-7: $pattern-green-1;

$pattern-blue-1: #298791;
$brand-8: $pattern-blue-1;

$pattern-red-1: #b91438;
$brand-9: $pattern-red-1;

$pattern-orange-1: #CA5E40;
$brand-10: $pattern-orange-1;

$pattern-pink-1: #ed67a4;
$brand-11: $pattern-pink-1;

$pattern-purple-1: #840c39;
$brand-12: $pattern-purple-1;


//Utility

$pattern-golden-fore: rgba(218, 165, 32, 1);
$pattern-golden-back: rgba(218, 165, 32, .2);

$line-colour-1: $brand-5;
$line-colour-2: $brand-6;
$shadow-colour-1: $brand-1;

$action-colour: $brand-11;
$active-colour: $brand-1;

$background-colour-1: $brand-3;









