/*------------------------------------*\
    #FONTS
\*------------------------------------*/

$font-family-logo: 'carrington';
$font-family-icon: 'icons';
$font-family-heading: 'ralewaysemibold';
$font-family-regular: 'ralewayregular';
$font-family-bold: 'ralewaybold';
$font-family-semibold: 'ralewaysemibold';
$font-family-italic: 'ralewayitalic';
