
.textarea {
	display: block;
	width: calc(100% - 16px);
	max-width: calc(#{$breakpoint-2} - 16px); 
	padding: $spacing-quarter;
	border: 1px solid $line-colour-1;
	font-family: $font-family-regular;
	line-height: 2.4rem;
	-webkit-appearance: none;
	background: $background-colour-1;
	box-sizing: content-box;
	resize: none;
	overflow: hidden;
	transition: border-color .3s ease-in-out;

	&:hover {
		border-color: $action-colour;
	}

	&:focus {
		border-color: $active-colour;
	}
}

