
#page_footer {
	background: $brand-8;
	padding: $spacing-full 0;

	* {
		color: $text-colour-2;
	}
}

@media only screen and (min-width : $breakpoint-3){

	#page_footer {
		padding: $spacing-double 0;


	}

}