
/*------------------------------------*\
    #Typography
\*------------------------------------*/

$text-colour-1: $brand-1;
$text-colour-2: $brand-3;
$text-colour-3: $brand-2;
$text-colour-4: $brand-4;