
#page_body {
	position: relative;
	min-height: 20vh;
	padding-top: $spacing-full;
	background: $background-colour-1;
}

@media only screen and (min-width : $breakpoint-3){

	#page_body {
		padding-top: $spacing-double;
		min-height: 100vh;
	}
}