
.h1  {
	font-family: $font-family-heading;
	color: $text-colour-1; 
	margin-top: 0;
	font-size: 3.1rem;
	letter-spacing: .2rem;
	text-transform: uppercase;
}

@media only screen and (min-width : $breakpoint-3){

	.h1  {
    	font-size: 4.9rem;
	}
}

@media only screen and (min-width : $breakpoint-4){

	.h1  {
    	font-size: 5.9rem;
	}
}