$text-colour-1: $brand-1;
$text-colour-2: $brand-3;
$text-colour-3: $brand-2;
$text-colour-4: $brand-4;

html {
	font-size: 62.5%;//1rem = 10px
}

body {
	font-family: $font-family-regular;
	color: $text-colour-1;
	font-size: 1.6rem;
	line-height: 1.45;
	color: $text-colour-3;
}

strong {
	font-family: $font-family-bold;
}

em {
	font-style: italic;
}

.h1, .h2, .h3, .h4, .h5 {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	margin: 2em 0 1em;
	font-weight: 400;
	line-height: 1.15;

	&:first-child {
		margin-top: 0;
	}
}


.t1, .t2, .t3 {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	margin-bottom: 1.25em;
 }

@media only screen and (min-width : $breakpoint-2){

	.h1, .h2, .h3, .h4, .h5 {
		margin: 2.75em 0 1em;
	}
}