
.radio_button {
	position: relative;
	padding-left: calc(#{$dimension-half} + #{$dimension-quarter});
	line-height: 30px;

	input {
		width: calc(#{$dimension-half} + 2px);
		height: calc(#{$dimension-half} + 2px);
		position: absolute;
		top: 0;
		left: 0;
		-webkit-appearance: none;
		opacity: 0;
		z-index: 99;
		cursor: pointer;


		&:focus ~ em:before {
			border-color: $active-colour;
		}

		&:hover ~ em:before {
			border-color: $action-colour;
		}

		&:checked ~ em:before {
			content: "•";
			border-color: $line-colour-1;
			font-size: 5rem;
			color: $active-colour;
		}
	}

	em {
		font-style: normal;

		&:before {
			content: " ";
			display: block;
			position: absolute;
			top: $spacing-eighth;
			left: 0;
			width: $dimension-half;
			height: $dimension-half;
			line-height: calc(#{$dimension-half} + 1px);
			text-indent: 1px;
			text-align: center;	
			border: 1px solid $line-colour-1;
			background: $background-colour-1;
			border-radius: $dimension-half;
			transition: border-color .3s ease-in-out;
		}
	}
}